<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./static/dashboardstyle.css">
</head>
<body>
    <div class="dashboard">
        <div class="profile-icon" onclick="toggleUserProfile()">🧑🏽</div>
        <div class="sidebar">
            <div class="menu">
                <div class="menu-item">
                    <div class="menu-title">Greetings</div>
                    <button class="menu-button beginner" onclick="location.href='/gbeginner'">☆Beginner</button>
                    <button class="menu-button intermediate" onclick="location.href='/gintermediate'">★Intermediate</button>
                </div>
                <div class="menu-item">
                    <div class="menu-title">School</div>
                    <button class="menu-button beginner" onclick="location.href='/sbeginner'">☆Beginner</button>
                    <button class="menu-button intermediate" onclick="location.href='/sintermediate'">★Intermediate</button>
                </div>
                <div class="menu-item">
                    <div class="menu-title">Travel</div>
                    <button class="menu-button beginner" onclick="location.href='/tbeginner'">☆Beginner</button>
                    <button class="menu-button intermediate" onclick="location.href='/tintermediate'">★Intermediate</button>
                </div>
                <div class="menu-item">
                    <div class="menu-title">Work</div>
                    <button class="menu-button beginner" onclick="location.href='/wbeginner'">☆Beginner</button>
                    <button class="menu-button intermediate" onclick="location.href='/wintermediate'">★Intermediate</button>
                </div>
            </div>
        </div>
        <div class="user-profile" id="userProfile">
            <h2>User Profile</h2>
            <div class="user-avatar">
                <img src="avatar.jpg" alt="User Avatar">
            </div>
            <div class="user-info">
                <div class="user-name">@username</div>
                <div class="user-fullname">First name Last name</div>
                <div class="user-fluency">Fluency: Expert</div>
            </div>
            <div class="user-actions">
                <button class="profile-button">Profile</button>
                <button class="feedback-button">Feedback</button>
                <button class="logout-button" onclick="location.href='/logout'">Logout</button>
            </div>
        </div>
    </div>

    <script>
        function toggleUserProfile() {
            var profile = document.getElementById("userProfile");
            profile.classList.toggle("show-profile");
        }
    </script>
</body>
</html>
