body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(rgba(133, 25, 25, 0.4),rgba(69, 9, 143, 0.4)), url('nepal2.jpg'); 
    background-size: cover;
    background-attachment: fixed;
}

.dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 80%;
    height: 95%;
    margin: auto;
    margin-left: 10%;
    background: rgba(128, 0, 128, 0.7); 
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.profile-icon {
    background: none;
    border: none;
    font-size: 45px;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
    margin-left: 95%;
}

.menu-title {
    color: white;
    margin-bottom: 10px;
    margin-left: 35%;
}

.menu-button {
    display: block;
    width: 40%;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 35%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #6A1B9A; /* Purple, adjust the hex to match your theme */
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-button.intermediate {
    background-color: #AB47BC; /* Lighter purple, adjust the hex to match your theme */
}

.menu-button:hover {
    background-color: #7B1FA2; /* Darker purple on hover, adjust the hex to match your theme */
}

.user-profile {
    margin-left: 60%; 
    padding: 20px;
    box-sizing: border-box;
    width: calc(100% - 300px); /* Adjust width based on the sidebar */
    display: none; /* Hidden by default, shown when toggled */
    background: rgba(125, 71, 130, 0.9);
    flex: 2; /* Semi-transparent background */
}

.show-profile {
    display: block;
}

.user-avatar img {
    width: 100px; /* Adjust as needed */
    height: auto;
    border-radius: 50%; /* Makes the image round */
    margin-bottom: 20px;
}

.user-info div, .user-actions button {
    color: white;
    margin-bottom: 10px;
}

.user-actions button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6A1B9A; /* Purple, adjust the hex to match your theme */
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-actions button:hover {
    background-color: #7B1FA2; /* Darker purple on hover, adjust the hex to match your theme */
}
