
body {
    background-image: linear-gradient(rgba(133, 25, 25, 0.4),rgba(69, 9, 143, 0.4)), url('nepal3.jpg'); /* lilac background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .quiz-container {
    width: 80%;
    max-width: 800px;
    background-color: #b8858d;
    background-image: linear-gradient(rgba(133, 25, 25, 0.4),rgba(69, 9, 143, 0.4));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  
  .navigation {
    position: absolute;
    top: 20px;
    right: 20px;
  }

.nav-button {
    background-color: #7183a4; 
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.question h2, .question p {
    color: #FFF;
    margin-bottom: 15px;
}

.options {
    margin: 20px 0;
}

.option-button {
    background-color: #FFF;
    color: #333;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0; /* Space between buttons */
    cursor: pointer;
    display: block; /* Make the buttons block level elements */
    width: 80%; /* Set a width for the buttons */
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.option-button:hover {
    background-color: #f2f2f2;
}

.audio-options {
    margin-bottom: 20px;
    font-size: 18px;
    color: #FFF;
}

.audio-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #FFF;
}

b {
    font-weight: bold;
}
